#linkpos{
    float: right;
}


/* ESPECIFICIDADE*/
#espID{
    background-color: blue;
}
.espClass {
    background-color: red;
}
h4 {
    color: aqua;
}
h4 {
    color: salmon !important;
}
h4{
    color: blueviolet;
}


/* GRADIENTES */
.padrao{
    width: 200px;
    height: 200px;
    display: inline-block;
}

.grad-linear{
    text-align: center;
    display: inline;
}
#linear {    
    background-image: linear-gradient(red,yellow,blue,green);
}
#right-linear {
    background-image: linear-gradient(to right,red,yellow,blue,green);
}
#ang-linear {
    background-image: linear-gradient(360deg,red,yellow,blue,green);
}

.grad-radial{
    text-align: center;
    display: inline;
}
#radial {
    background-image: radial-gradient(red,yellow,blue,green);
}
#forma-radial {
    background-image: radial-gradient(circle, red, yellow,blue, green);
}
#rep-radial {
    background-image: repeating-radial-gradient(red, yellow 10%,blue, green 15%);
}

.grad-conico{
    text-align: center;
    display: inline;
}
#tres-conico {
    background-image: conic-gradient(red, yellow,blue);
}
#cinco-conico{
    background-image: conic-gradient(red, yellow,blue,green,pink);
}
#ang-conico{
    background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
}
#pizza-conico {
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
    border-radius: 50%;
}
#rep-conico {
    background-image: repeating-conic-gradient(red 0deg 10deg, yellow 10deg 20deg, blue 20deg 30deg); 
    border-radius: 50%;
}


/* BOX SHADOW E TEXT SHADOW */
#sombra-texto {
    font-size: 2em;
    
    /* text-shadow(Sombra Horizontal, Sombra Vertical, Desfoque e cor) */
    text-shadow: 2px 2px 5px red;
}
#multi-shadow{
    font-size: 2em;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

#sombra-caixa{
    width: 300px;
    height: 200px;
    text-align: center;
    background-color: gray;

    /* box-shadow(Sombra Horizontal, Sombra Vertical, Desfoque, raio, cor e inserção) */
    box-shadow: 1px 2px 8px red;
}
#caixa-multi{
    width: 300px;
    height: 200px;
    text-align: center;
    margin-top: 20px;
    background-color: chocolate;

    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
}

#card{
    width: 300px;
    height: 200px;
    text-align: center;
    margin-top: 40px;
    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* EFEITO DE TEXTO*/
.efeito-texto{
    width: 250px;
    height: 200px;
    border: 2px solid black;  
}
.reduzido{
    white-space: nowrap; /* Texto continua na mesma linha*/
    overflow: hidden; /* Texto quando passar do conteúdo é oculto*/
    
    text-overflow: ellipsis; /* Texto longo é colocado o sinal dos 3 pontinhos*/
}
.efeito-texto:hover .reduzido{
    white-space: normal;
}